.lead {
    font-family: 'Major Mono Display', monospace;
    font-size: 10;
    font-weight: 500;
    color: whitesmoke;
    
}
body, html {
    font-family: 'Major Mono Display', monospace;
    font-size: 20;
    font-weight: 500;
    color: whitesmoke;
   
}

#tableresults {
    font-family: 'Roboto Mono', monospace;
}